# Copy to backend.hcl and replace with real values.
bucket         = "your-tf-state-bucket"
key            = "aws-capstone/terraform.tfstate"
region         = "ap-south-1"
encrypt        = true
use_lockfile   = true
